<div class="container">
  <form [formGroup] = "registerForm" (ngSubmit)= "registerForm.valid && onSubmit()">
  <div class="row">
    <div class="col-lg-12 nonepadding">
      <div class="header">
        <h4>Registration Form</h4>
      </div>
    </div>
  </div>

  <!-- form control firstname && lastname -->
  <div class="row content" >
    <div class="col-lg-6">
      <label for="inputEmail4">First Name</label>
      <input formControlName="firstName" [ngClass]="{'is-invalid': f.firstName.touched && f.firstName.invalid}" type="text" class="form-control" id="inputEmail4" placeholder="firstname">
      <div *ngIf="f.firstName.untouched">
        <span>first name</span>
      </div>
      <div *ngIf="f.firstName.touched && f.firstName.invalid"  class="invalid-feedback">
        <div *ngIf="f.firstName.errors.required">first name is required</div>
        <div *ngIf="f.firstName.errors.maxlength">first name can't over than 32 charactors</div>
      </div>
    </div>
    <div class="col-lg-6">
      <label >Last Name</label>
      <input formControlName="lastName" [ngClass]="{'is-invalid': f.lastName.touched && f.lastName.invalid}" for="inputPassword4" type="text" class="form-control" id="inputPassword4" placeholder="lastname">
      <div *ngIf="f.firstName.untouched">
        <span>last name</span>
      </div>
      <div *ngIf="f.lastName.touched && f.lastName.invalid"  class="invalid-feedback">
        <div *ngIf="f.lastName.errors.required">last name is required</div>
        <div *ngIf="f.lastName.errors.maxlength">last name must be minimum 32 charechor</div>
      </div>
    </div>
  </div>


    <!-- form control email -->
  <div class="row content">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="inputAddress">Email</label>
          <input  formControlName= "email" [ngClass]="{'is-invalid': f.email.touched && f.email.invalid}" type="text" class="form-control" id="inputAddress" placeholder="myname@gmail.com">
          <div *ngIf="f.email.touched && f.lastName.invalid"  class="invalid-feedback">
            <div *ngIf="f.email.errors.required">email name is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email Address </div>
          </div>
       </div>
      </div>
  </div>


  <!-- phone section -->
  <div class="row content">
    <div class="col-lg-6">
      <label for="inputEmail4">Phone number</label>
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <input  formControlName= "areaCode" [ngClass]="{'is-invalid': f.areaCode.touched && f.areaCode.invalid}" type="text" class="form-control" id="inputEmail4" >
            <div *ngIf="f.areaCode.touched && f.areaCode.invalid"  class="invalid-feedback">
              <div *ngIf="f.areaCode.errors.required">email name is required</div>
              <div *ngIf="f.areaCode.errors.pattern">must start by 0 and 3 digit</div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="form-group">
            <input  formControlName= "phoneNumber" [ngClass]="{'is-invalid': f.phoneNumber.touched && f.phoneNumber.invalid}" type="text" class="form-control" id="inputPassword4" placeholder="lastname">
            <div *ngIf="f.phoneNumber.touched && f.phoneNumber.invalid"  class="invalid-feedback">
              <div *ngIf="f.phoneNumber.errors.required">phoneNumber is required</div>
              <div *ngIf="f.phoneNumber.errors.pattern">must 6 digit, can't type text</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- password section -->
  <div class="row content">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="password">Password</label>
        <input 
            formControlName="password"
            [ngClass]="{'is-invalid': f.password.touched && f.password.invalid}"
            id="password" 
            type="password" 
            class="form-control">
        <div  *ngIf="f.password.touched && f.password.invalid"  class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required.</div>
            <div *ngIf="f.password.errors.minlength">Password at lest 8 digit</div>
            <div *ngIf="f.password.errors.maxlength">Password can't more than 128 digit</div>
        </div>
    </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label for="confirm_password">Confirm Password</label>
        <input 
            formControlName="confirm_password"
            id="confirm_password" 
            [ngClass]="{'is-invalid': f.confirm_password.touched && f.confirm_password.invalid}"
            type="password" 
            class="form-control">
        <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid"  class="invalid-feedback">
            <div *ngIf="f.confirm_password.errors.required">confirm_password is required.</div>
            <div *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password must be match.</div>
            <div *ngIf="f.confirm_password.errors.minlength">Password at lest 8 digit</div>
            <div *ngIf="f.confirm_password.errors.maxlength">Password can't more than 128 digit</div>
        </div>
    </div>
    </div>
  </div>

  <!-- street address section -->
  <div class="row content">
    <div class="col-lg-12">
      <div class="form-group">
        <label for="inputAddress2">Address</label>
        <input formControlName= "address" [ngClass]="{'is-invalid': f.address.touched && f.address.invalid}" type="text" class="form-control" id="inputAddress2" placeholder="street address">
        <div *ngIf="f.address.untouched">
          <span>street address</span>
        </div>
        <div *ngIf="f.address.touched && f.address.invalid"  class="invalid-feedback">
          <div *ngIf="f.address.errors.required">Address name is required</div>
        </div>
      </div>
    </div>
  </div>

  <!-- street address line2 -->
  <div class="row content">
    <div class="col-lg-12">
      <div class="form-group">
        <input type="text" class="form-control" id="inputAddress2" placeholder="street address line 2">
      </div>
      <div>
        <span>street address line 2</span>
      </div>
    </div>
  </div>


  <!-- city and state provice section -->
  <div class="row content">
    <div class="col-lg-6">
      <div class="form-group">
        <input formControlName= "city" [ngClass]="{'is-invalid': f.city.touched && f.city.invalid}" type="text" class="form-control" id="inputCity">
        <div *ngIf="f.city.untouched">
          <span>city</span>
        </div>
        <div *ngIf="f.city.touched && f.city.invalid"  class="invalid-feedback">
          <div *ngIf="f.city.errors.required">city is required</div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <input formControlName= "state" [ngClass]="{'is-invalid': f.state.touched && f.state.invalid}" type="text" class="form-control" id="inputCity">
        <div *ngIf="f.state.untouched">
          <span>State/provice</span>
        </div>
        <div *ngIf="f.state.touched && f.state.invalid"  class="invalid-feedback">
          <div *ngIf="f.state.errors.required">State/provice is required</div>
        </div>
      </div>
    </div>
  </div>



    <!-- zip code and countries section -->
    <div class="row content">
      <div class="col-lg-6">
        <div class="form-group">
          <input formControlName= "zipCode" [ngClass]="{'is-invalid': f.zipCode.touched && f.zipCode.invalid}" type="text" class="form-control" id="inputZip">
          <div *ngIf="f.zipCode.untouched">
            <span>Postal/Zip code</span>
          </div>
          <div *ngIf="f.zipCode.touched && f.zipCode.invalid"  class="invalid-feedback">
            <div *ngIf="f.zipCode.errors.required">Postal/Zip code is required</div>
            <div *ngIf="f.zipCode.errors.pattern">Postal/Zip code can be number over than 6 digit</div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <select formControlName="country" [ngClass]="{'is-invalid': f.country.touched && f.country.invalid}" id="inputState" class="form-control">
            <option disabled>select country</option>
            <option>Choose country</option>
            <option *ngFor="let item of countryList">{{item}}</option>
          </select>
          <div *ngIf="f.country.untouched">
            <span>Country</span>
          </div>
          <div *ngIf="f.country.touched && f.country.invalid" class="invalid-feedback">
            <div *ngIf="f.country.errors.required">country is required.</div>
        </div>
        </div>
      </div>
    </div>


    <!-- bith day section -->
    <div class="row content">
      <div class="col-lg-12">
        <h6>Bith Day</h6>
      </div>
      <div class="col-lg-4">
        <select formControlName="month" [ngClass]="{'is-invalid': f.month.touched && f.month.invalid}" id="inputState" class="form-control">
          <option disabled>Month</option>
          <option>Choose month</option>
          <option *ngFor="let item of monthList">{{item}}</option>
        </select>
        <div *ngIf="f.month.untouched">
          <span>month</span>
        </div>
        <div *ngIf="f.month.touched && f.month.invalid" class="invalid-feedback">
          <div *ngIf="f.month.errors.required">month is required.</div>
      </div>
      </div>
      <div class="col-lg-4">
        <select formControlName="day" [ngClass]="{'is-invalid': f.day.touched && f.day.invalid}" id="inputState" class="form-control">
          <option>Choose day</option> 
          <option *ngFor="let item of dayList">{{item}}</option>
        </select>
        <div *ngIf="f.day.untouched">
          <span>day</span>
        </div>
        <div *ngIf="f.day.touched && f.day.invalid" class="invalid-feedback">
          <div *ngIf="f.day.errors.required">day is required.</div>
      </div>
      </div>
      <div class="col-lg-4">
        <select formControlName="year" [ngClass]="{'is-invalid': f.year.touched && f.year.invalid}" id="inputState" class="form-control">
          <option>Choose year</option> 
          <option *ngFor="let item of yearList">{{item}}</option>
        </select>
        <div *ngIf="f.year.untouched">
          <span>year</span>
        </div>
        <div *ngIf="f.year.touched && f.year.invalid" class="invalid-feedback">
          <div *ngIf="f.year.errors.required">year is required.</div>
      </div>
      </div>
    </div>


    <!-- where did you hear about us?? -->
      <div class="row content">
        <div class="col-lg-4">
          <h6>where did you hear about us?</h6>
          <div *ngFor="let data of optionHearList; let i=index">
            <label>
              <input type="checkbox" [value]="data.value" (change)="onCheckboxChange($event)" />
              {{data.name}}
            </label>
          </div>
          <p style="color: red" *ngIf="this.registerForm.controls['checkArray'].errors?.required">
            *Checkbox is required, select atleast one value.
          </p>
        </div>
      </div>

      <!-- where did you hear about us?? -->
      <div class="row content">
        <div class="col-lg-4">
          <h5>Membership Rules</h5>
        </div>
      </div>
      <hr>
      <br>
      

      <div class="row content">
        <div class="col-lg-12">
          <p>1. Membership is available to anyone 18 years of age or older.</p>
          <p>2. You promiss NOT to use to contact any fludulent or business activity or have more than one member account at any time</p>
          <br><br>
          <div class="form-check">
            <input type="checkbox" class="form-check-input"
            formControlName="acceptedRule" [ngClass]="{'is-invalid': !f.acceptedRule.valid &&(f.acceptedRule.dirty || f.acceptedRule.touched)}"/>
            <label for="acceptedRule" class="form-check-label"> I have read, understad, and accepted the rule for Membership.</label>
          </div>
        </div>
      </div>

      <br>
        <!-- Prvacy Policy -->
        <div class="row content">
          <div class="col-lg-4">
            <h5>Prvacy Policy</h5>
          </div>
        </div>
        <hr>
        <br>
    

        <div class="row content">
          <div class="col-lg-12">
            <p>Please reatout the and read our privacy policy in order to understand how your information 
              is used and share , and check below if you accepte the polixy</p>
              <div class="form-check">
                <input type="checkbox" class="form-check-input"
                formControlName="accepted" [ngClass]="{'is-invalid': !f.accepted.valid &&(f.accepted.dirty || f.accepted.touched)}"/>
                <label for="accepted" class="form-check-label"> I have read, and understood, and accepted the PRIVACY POLICY for membership.</label>
              </div>
          </div>
        </div>


        <br><br><br>
        <div class="row">
          <div class="col-lg-12 footer">
            <p><i>Once you submit your application, we will contact you shortly to complete your</i></p>
            <p><i>membership application.</i></p>
            <p><i>Thank you</i></p>
            <button type="submit" [disabled]= "!registerForm.valid" class="btn btn-success">Submit Application</button>&nbsp;
            <!-- <button type="button" class="btn btn-secondary" (click)="onReset()">Cancel</button> -->
          </div>
        </div>


  </form>
</div>