.container{
    width: 80%;
    margin: auto;
    background-color: whitesmoke;
}
.container .header{
    /* background-color:white; */
    padding: 10px;
}
.container .content{
    width: 95%;
    margin: auto;
    margin-top: 20px;
    
}
.col-lg-12 .nonepadding{
    padding-left: 0px;
    padding-right: 0px;
}
hr{
    font-weight: 2px;
}
.footer{
    text-align: center;
    font-weight: bold;
}